##################################################
# VIRTUAL ENVIRONMENT 
##################################################
.gmlenv/

##################################################
# REFERENCE FILES / FOLDERS
##################################################
_references/

##################################################
# PYTHON CACHE
##################################################
__pycache__/
*.py[cod]
 
##################################################
# JUPYTER NOTEBOOK CACHE
##################################################
.ipynb_checkpoints/
 
##################################################
# VS CODE SETTINGS (LOCAL ONLY)
##################################################
.vscode/
 
##################################################
# LOGS / TEMP FILES
##################################################
*.log
*.tmp
*.swp
 
##################################################
# OS FILES
##################################################
.DS_Store
Thumbs.db
 